<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yummy Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>
  <header id="headerbar">
    <div>Yummy Blog</div>
  </header>
  <nav>
    <a href="/">Home</a>
    
    {{#if loggedIn}}
    <a id="dashboard" href="#">Dashboard</a>
    <a id="logout" href="#">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="posts">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/main.js"></script>
  {{/if}}
</body>

</html>