<section id="new-post-sec">
  <button id="postnow">New Post</button>
</section>
<section class="user-post container">

{{#each posts as |post|}}
{{> dashboard-list}}
{{/each}}

</section>

<script src="./js/dashboard.js"></script>